@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">

    <div>
    <label asp-for="Username">Username</label>
    <input asp-for="Username" type="text" required>
    </div>

    <div>
    <label asp-for="Newsletter">Subscribe to the newsletter?</label>
    <input asp-for="Newsletter"type="checkbox">
    </div>

    <div>
    <button type="submit">Submit</button>
    </div>

</form>

@if(Model.Submitted == true) {
    <h2>Form submission results</h2>
    <p>Username: @Model.Username</p>
    <p>Subscribed to newsletter? @Model.Newsletter</p>
}